
@{
    ViewData["Title"] = "Rules";
}
<style>
    #rules{
        width: 100%;
        height: 600px
    }

</style>

<h1>Rules</h1>
<iframe id="rules" src="~/assets/Onitama_Rulebook.PDF"></iframe>


