@{
    ViewData["Title"] = "Home Page";
}

<div class="=col-8">
    <form action="/Lobby/Index" id="myform" method="get">
        <input type="text" id="username" name="username" placeholder="enter name" />
        <input type="text" id="roomId" name="roomId" placeholder="choose lobby id" />
        <input type="submit" id="join" />
    </form>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>